support for grant_type="refresh_token"

Apologies for spamming with some 'issues'. 

As far as I can see, exchanging a refreshtoken for an accesstoken is not yet supported. (section 6 of RFC 6749). Is this correct? I could take a stab at a pull request if there's interest.

Since this is part of the spec it seems to me that this would fit within oauth2orize as opposed to a separate middleware module
